{% extends "templates/web.html" %}

{% block page_content %}


<div class="container mt-5">
    <div class="row">

        <!-- Card 1 -->
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="subtitle text-muted">Current:</h3>
                    <h1 class="display-1">{{ queue_number1 }}</h1>
                    <p>Desk: {{ desk1 }}</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="subtitle text-muted">Next in line:</h3>
                    <h1 class="display-1">{{ queue_number2 }}</h1>
                    <p>Desk: {{ desk2 }}</p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="subtitle text-muted">Next in line:</h3>
                    <h1 class="display-1">{{ queue_number3 }}</h1>
                    <p>Desk: {{ desk3 }}</p>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="subtitle text-muted">Next in line:</h3>
                    <h1 class="display-1">{{ queue_number4 }}</h1>
                    <p>Desk: {{ desk4 }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}