{% extends "templates/web.html" %}

{% block page_content %}

<div class="container mt-5">
    <div class="row">

        {% for person in last_four_people[:num_cards] %}
        <div class="col-md-4"> <!-- Use col-md-4 to have 3 cards in a row on medium-sized screens -->
            <div class="card text-center">
                <div class="card-body">
                    <h1 class="display-1">{{ person.full_name }}</h1>
                    <h1 class="display-1">{{ person.name[-1:].split('-')[-1] }}</h1>
                    <h1 class="display-1">{{ person.desk }}</h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}